.searchContainer {
  /* Contenedor global del componente */ 
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.bar {
  /* semantic-ui-react.Search component */
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#searchInput {
  /* Input del Search */
}

#searchButton {
  margin: 10px;
}

